<div>
  <div>
    <div>
      <img src="" alt="">
    </div>
    <div>
      <img src="" alt="">
    </div>
    <div>
      <img src="" alt="">
    </div>
    <div>
      <img src="" alt="">
    </div>
  </div>
  <div>
    <h2>MODERN</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus soluta modi aperiam!</p>
  </div>
</div>